<!-- Sidebar -->
<div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">Admin</div>
    <div class="list-group list-group-flush">
        <a  class="list-group-item list-group-item-action bg-light" routerLink="users" >Users</a>
        <a  class="list-group-item list-group-item-action bg-light" routerLink="questions" >Questions</a>
        <a  class="list-group-item list-group-item-action bg-light" routerLink="answers">Answers</a>
        <a  class="list-group-item list-group-item-action bg-light" routerLink="categories">Categories</a>
    </div>
</div>
<!-- /#sidebar-wrapper -->