<div class="container mt-5">
    <div class="d-flex justify-content-center row">
        <div class="col-md-10 col-lg-10">
            <div class="border">
                <div class=" bg-white p-3 mt-3 border-bottom">
                    Choose Category :
                    <select class="form-control mt-3 mb-3" #ddlCategory
                        (change)='onCategorySelected(ddlCategory.value)'>
                        <option [value]="undefined">Select Category</option>
                        <option *ngFor="let Category of categories" [value]="Category.CategoryId">
                            {{Category.CategoryName}}
                        </option>
                    </select>
                </div>

                <div class="p-3 bg-white" style="text-align: right;">
                    <a class="btn btn-primary border-success btn-success" routerLink="../quiz/{{categoryId}}">Next<i
                            class="fa fa-angle-right ml-2"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>